/* Using a sans serif font and increasing the size of the characters */
body {
    display: flex;
    font-family: 'Comic Neue', cursive;
    font-size: 15px; text-decoration: none; font-weight: 500;
    flex-direction:column;
    width: 1200px;
    background-color: #fefeff;
    margin: 40px auto;
    box-shadow: 10px 10px 40px rgba(153, 28, 28, 0.1);
}

.main {padding: 100px 90px;
    margin-bottom: 50px;
    line-height: 24px;
    background-color: #9496a7;
}

.headbody {
    background-color: #502552;
}

/* Shift the heading text to the left, by default it is centered */
table caption {
    text-align: left;
}

/* We "collapse" the frames of adjacent cells */
table {
    border-collapse: collapse;
}
p {color: rgb(127, 63, 187);
font-size: 20px; background: #69cc51;}
/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
table th,
table td {
    padding: 10px;
    border: 1px solid #c41414;
}
.span {color: rgb(182, 112, 21);
font-family: Arial, Helvetica, sans-serif;
font-size: x-large;}

.accent {font-weight: 1000;
    font-size: larger;
    color: blueviolet;}

.art {font-size: xx-large;
    color: rgb(5, 165, 112);}

.dd {color: #23c414;
font-size: larger;}

.abzats {height: 20px;}

.adrs{color: rgb(0, 255, 179);
background-color: #c41414;
font-size: x-large;;}

.vazno {font-size: 20px;
font-weight: 1000;}

.vazno2 {color: #23c414;}

.vidau {color: #d0d312;
font-size: 40px;
background-color: #e2280f;}

.vidauinf{color: #39e20f;
font-size: 15px;}

.aud {font-size: 30px;
color: #07929c; background-color: #f3ef00;}

#title {
    font-weight: 500;
    color: orange;
}
/* ❌ Застосується до всіх посилань у документі */
a {
    color: blue;
    text-decoration: none; font-size: 20px;
}

/* ✅ Застосується тільки до посилань, які лежать всередині тегу з класом social-links */
.social-links a {
    color: blue;
    text-decoration: none; font-size: 20px;
}

.menu>li {
    border: 1px solid tomato;
}

a[title] {
    color: teal;
}

/* Незвичне форматування фігурних дужок - це нормально */
a[href="https://htmlreference.io"] {
    color: teal;
}

a[href="https://cssreference.io"] {
    color: orange;
}

a[href="https://www.youtube.com"] {
    color: tomato;
}

.social-links .link {
    color: teal;
}

/* Два і більше селекторів розділяються комою */
.social-links .link:hover,
.social-links .link:focus {
    color: orange;
}           

.social-links .link:active {
    color: red;
}

.social-links .link:visited {
    color: green;
}

.schedule-body>tr:hover {
    background-color: rgb(71, 203, 255);
    color: rgb(0, 0, 0);
}

/* Оформлення таблиці */
.schedule {
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    padding: 20px;
    border: 5px solid #b91818;
}

.auto {
    cursor: auto;
}

.default {
    cursor: default;
}

.none {
    cursor: none;
}

.context-menu {
    cursor: context-menu;
}

.help {
    cursor: help;
}

.pointer {
    cursor: pointer;
}

.progress {
    cursor: progress;
}

.wait {
    cursor: wait;
}

.cell {
    cursor: cell;
}

.crosshair {
    cursor: crosshair;
}

.text {
    cursor: text;
}

.vertical-text {
    cursor: vertical-text;
}

.alias {
    cursor: alias;
}

.copy {
    cursor: copy;
}

.move {
    cursor: move;
}

.no-drop {
    cursor: no-drop;
}

.not-allowed {
    cursor: not-allowed;
}

.all-scroll {
    cursor: all-scroll;
}

.col-resize {
    cursor: col-resize;
}

.row-resize {
    cursor: row-resize;
}

.n-resize {
    cursor: n-resize;
}

.e-resize {
    cursor: e-resize;
}

.s-resize {
    cursor: s-resize;
}

.w-resize {
    cursor: w-resize;
}

.ns-resize {
    cursor: ns-resize;
}

.ew-resize {
    cursor: ew-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.nw-resize {
    cursor: nw-resize;
}

.se-resize {
    cursor: se-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.nesw-resize {
    cursor: nesw-resize;
}

.nwse-resize {
    cursor: nwse-resize;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cursors {
    display: flex;
    flex-wrap: wrap;
}

.cursors>div {
    flex: 150px;
    padding: 10px 2px;
    white-space: nowrap;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 5px 5px 0;
}

.cursors>div:hover {
    background: #eee;
}

code {
    display: inline-block;
    background-color: #eee;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 32px;
}

.text {
    color: tomato;
}
/*rgb(червоний, зелений, синій) Діапазон значень можна вказувати числами
від 0 (повна відсутність кольору) до 255 (максимальна частка). Це основний
спосіб встановлення RGB-кольору.*/
p {
    color: rgb(255, 0, 0);
}
/* Чистий червоний колір: 100% червоного, 0% зеленого, 0% синього */
p {
    color: rgb(100%, 0%, 0%);
}

/*Це опис кольору,
що ґрунтується на запису числа
 в шістнадцятковій системі числення. 
 Частка кожного з трьох основних
кольорів описується двома цифрами. 
hex color format Цифрами цієї системи 
числення виступає набір цифр 
від 0 до 9 і латинські 
літери від A до F у нижньому 
або верхньому регістрі. 
0 - найменша частка кольору 
f - найбільша частка кольору*/

/* Чистий червоний колір: ff (100%) червоного, 00 (0%) зеленого, 00 (0%) синього */
p {
    color: #ff0000;
}

/* Чистий зелений колір: 00 (0%) червоного, ff (100%) зеленого, 00 (0%) синього */
p {
    color: #00ff00;
}

/* Чистий синій колір: 00 (0%) червоного, 00 (0%) зеленого, ff (100%) синього */
p {
    color: #0000ff;
}

/* Чистий червоний колір з прозорістю 30% */
.tex {
    background-color: rgba(255, 0, 0, 0.3);
}
/* Специфічність - 0 0 0 1 */
/* p {  
    color: rgb(30, 161, 30);
}

/* ✅ Специфічність - 0 0 0 2 */
article>p {
    color: orange;
}

/* Колір тексту заголовка буде помаранчевим, */
/* бо специфічність третього правила вище. */

/* Специфічність - 0 0 1 0 */
.post-title {
    color: green;
}

/* Специфічність - 0 0 1 1 */
.post>h1 {
    color: red;
}

/* ✅ Специфічність - 0 0 2 0 */
.post>.post-title {
    color: orange;
}

/* Колір тексту посилання буде коричневим, */
/* тому що специфічність п'ятого правила вище. */

/* Специфічність - 0 0 0 1 */
a {
    color: green;
}

/* Специфічність - 0 0 1 0 */
.post-link {
    color: orange;
}

/* Специфічність - 0 0 1 1 */
a.post-link {
    color: blue;
}

/* Специфічність - 0 0 2 0 */
.post>.post-link {
    color: red;
}

/* ✅ Специфічність - 0 0 2 1 */
.post>a.post-link {
    color: brown;
}

/* Колір тексту заголовка буде помаранчевим,
бо специфічність другого правила вище. */

/* Специфічність - 0 0 1 0 */
.post-titlese {
    color: green;
}

/* ✅ Специфічність - 0 1 0 0 */
#titlese {
    color: orange;
}

/* Однакова специфічність Якщо специфічність однакова,
перемагає правило,
розташоване нижче в коді. */

/* Три селектори елемента з однаковою специфічністю */
a {
    color: teal;
}

a {
    color: brown;
}

/* Оскільки це правило стоїть нижче, до всіх посилань застосується помаранчевий колір тексту */
a {
    color: orange;
}

/* Такий CSS добре працює,
коли розмітка проста. Але зі зростанням складності розмітки блоку,
зручна стилізація по селекторам тегу стає неможливою. Наприклад,
якщо в пості буде 5 посилань,
а не одне,
точково вибрати якесь посилання 
не вийде або селектор буде занадто 
складний. */
.post { 
    color: #07929c;
}

.post>h1 {
   color: #b91818;
}

.post>p {
   color: #000000;
}

.post>a {
    color: #eee;
}

.post>a:hover {
    color: #d0d312;
}

/* Такий CSS непогано масштабується і підтримується. Це відправна точка для написання хорошого CSS. Проте, */
/* з ростом складності розмітки можуть бути невеликі проблеми зі специфічністю.*/ 
.post { 
    color: #d0d312;
}

.post>.title {
    color: #eee;
}

.post>.text {
    color: #b91818;
}

.post>.link {
    color: #07929c;
}

.post>.link:hover {
    color: #502552;
}
/* За такого підходу використовуються прості селектори класу, */
/* не потрібно думати про специфічність. Такий CSS добре масштабується і підтримується. В сучасній розробці під час написання стилів використовуються варіації цього підходу.  */
.post {
    color: #eee;
}

.post-title {
    color: #502552;
}

.post-text {
    color: #07929c;
}

.post-link {
    color: #b91818;
}

.post-link:hover {
    color: #eee;
}

/* Значення такої властивості приорітетніше від усіх інших, */
/* і колір тексту абзацу буде помаранчевий.  */
p {
    color: rgb(155, 31, 58) !important;
}

p#text-id.text {
    color: blue;
}

.poster {
    color: green;
}
.poster-link {
    color: inherit;
}
/* Якщо необхідно,
щоб у пості воно була такого ж кольору,
що і весь текст,
можна використовувати спеціальне значення inherit для властивості color,
 щоб не дублювати колір у двох місцях. */
